@import "tailwindcss";

@theme {
  /* Colors */
  --color-background: #ffffff;
  --color-foreground: #0a0a0a;
  
  --color-card: #ffffff;
  --color-card-foreground: #0a0a0a;
  
  --color-popover: #ffffff;
  --color-popover-foreground: #0a0a0a;
  
  --color-primary: #149ddd;
  --color-primary-foreground: #fafafa;
  
  --color-secondary: #f5f5f5;
  --color-secondary-foreground: #171717;
  
  --color-muted: #f5f5f5;
  --color-muted-foreground: #737373;
  
  --color-accent: #f5f5f5;
  --color-accent-foreground: #171717;
  
  --color-destructive: #ef4444;
  --color-destructive-foreground: #fafafa;
  
  --color-border: #e5e5e5;
  --color-input: #e5e5e5;
  --color-ring: #0a0a0a;
  
  --color-chart-1: #e76f51;
  --color-chart-2: #2a9d8f;
  --color-chart-3: #264653;
  --color-chart-4: #e9c46a;
  --color-chart-5: #f4a261;
  
  /* Radius */
  --radius-lg: 0.5rem;
  --radius-md: calc(0.5rem - 2px);
  --radius-sm: calc(0.5rem - 4px);
  
  /* Animations */
  --animate-pulse: pulse 0.8s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  
  @keyframes pulse {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: #0a0a0a;
    --color-foreground: #fafafa;
    
    --color-card: #0a0a0a;
    --color-card-foreground: #fafafa;
    
    --color-popover: #0a0a0a;
    --color-popover-foreground: #fafafa;
    
    --color-primary: #149ddd;
    --color-primary-foreground: #171717;
    
    --color-secondary: #262626;
    --color-secondary-foreground: #fafafa;
    
    --color-muted: #262626;
    --color-muted-foreground: #a3a3a3;
    
    --color-accent: #262626;
    --color-accent-foreground: #fafafa;
    
    --color-destructive: #7f1d1d;
    --color-destructive-foreground: #fafafa;
    
    --color-border: #262626;
    --color-input: #262626;
    --color-ring: #d4d4d4;
    
    --color-chart-1: #2563eb;
    --color-chart-2: #16a34a;
    --color-chart-3: #eab308;
    --color-chart-4: #8b5cf6;
    --color-chart-5: #ef4444;
  }
}

* {
  border-color: var(--color-border);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

.icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: color-mix(in srgb, var(--color-foreground), transparent 90%);
  border-radius: 9999px;
  transition-property: background-color;
  transition-duration: 0.2s;
}

.icon:hover {
  background-color: var(--color-primary);
}